<div class="container-fluid">
  <div class="row">
    <div class="customer_incharge_make">
      <h3>得意先担当訂正</h3>
      <h5 class="bg-dark text-white"><%= @customer_user.company %></h5>
      <%= form_with model: @in_charge, url: admins_in_charge_path(@in_charge), local: true do |f| %>
        <p>部署名：<%= f.text_field :department, :size => "20" %>　担当名：<%= f.text_field :name, :size => "10" %>　e-mail：<%= f.email_field :email, :size => "35" %></p>
        <p>
          〒　　：<%= f.text_field :postal_code, :size => "10" %>　住　所：<%= f.text_field :address, :size => "40" %>　TEL　：<%= f.text_field :telephone, :size => "13" %>　<%= f.hidden_field :customeruser_id, :value => @customer_user.id %><%= f.submit "更新", class: "btn btn-primary btn-sm" %>
        </p>
      <% end %>
      <%# byebug %>
    </div>
  </div>
  <%= link_to "見積作成", new_admins_estimate_path(:id => @in_charge.id), class: "btn btn-success" %>
</div>
