<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">sidebar menu</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/fumiblog.png" alt="User picture">
          <%# <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture"> %>
        </div>
        <div class="user-info">
          <span class="user-name">Fumihisa
            <strong>Yano</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Dashboard 1
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a href="#">Dashboard 2</a>
                </li>
                <li>
                  <a href="#">Dashboard 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Components</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Panels</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Pie chart</a>
                </li>
                <li>
                  <a href="#">Line chart</a>
                </li>
                <li>
                  <a href="#">Bar chart</a>
                </li>
                <li>
                  <a href="#">Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container">
      <h2>Pro Claim</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>請求という行為。物を販売したら、作業を手伝ったら、何かを解決したら、・・。当然対価をもらいます。</p>
          <p>商いの鉄則。生活の上で当然。ですがボランティアではないのに上手く請求できない。 <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
              Github</a>, 考え方が違います。販売する前、作業する前、解決する前に考えるのです。「どうしたらこの作業に対しお金を払ってくれるだろう」</p>
        </div>
        <div class="form-group col-md-12">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Secret !</h4>
            <p>請求予定を立ててから、作業する！　上手く請求できないこともありますが最初に計画することが大事です。 </p>
          </div>
        </div>
      </div>
      <h5>More templates</h5>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/58369568-a49b2480-7efc-11e9-9ca9-2be44afacda1.png" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
              <h6 class="card-title">Angular Pro Sidebar</h6>
              <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
              <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
              <hr>
              <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/angular-pro-sidebar?style=social" />
              </a>
              <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/angular-pro-sidebar?style=social" />
              </a>

            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/58369258-33f20900-7ef8-11e9-8ff3-b277cb7ed7b4.PNG" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
              <h6 class="card-title">Angular Dashboard</h6>
              <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
              <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
              <hr>
              <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/lightning-admin-angular?style=social" />
              </a>
              <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/lightning-admin-angular?style=social" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="container-fruid alert alert-secondary">
        <div class="row">
          <h3 class="m-3">Dashboard</h3>
          <div class="row dash">
            <div class="col-sm alert alert-primary text-primary m-3 p-3 overflow-auto" style= "height:180px;">
              <h3>Welcome Back, fumihisa!</h3>
              <div>
                Lv.88 Exp.1024
                <%= image_tag 'engineer.png', class: "float-right", :size => '150x110' %>
              </div>
            </div>
            <div class="col-sm bg-light text-secondary m-3 p-3 small overflow-auto" style= "height:180px;">
              <h5>
                消費税。現在は
                <% if Date.today >= Tax.all.order(change_date: "DESC").first.change_date %>
                  <a class="text-success"><%= Tax.all.order(change_date: "DESC").first.tax %></a>%です。
                <% else %>
                  <a class="text-success">
                    <%= Tax.all.order(change_date: "DESC").second.tax %>%
                  </a>です。
                  <%= Tax.all.order(change_date: "DESC").first.change_date %>に<%= Tax.all.order(change_date: "DESC").first.tax %>%になります。
                <% end %>
              </h5>
              <p class="tax_input">
                <%= form_with model: @tax, url:admins_admins_path(@tax), local: true do |f| %>
                  日付：<%= f.date_field :change_date %>　消費税：<%= f.text_field :tax, :size => "3" %>%
                  <%= f.submit "予約" %>
                <% end %>
              </p>
              <div class="tax_history small">
                消費税履歴
                <% @taxes.each do |tax| %>
                  <%= tax.change_date %>（<%= tax.tax %>%）<%= link_to "del", admins_admin_path(tax), method: :delete %>、
                <% end %>
              </div>
            </div>
            <div class="row dash">
              <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
                <canvas id="genre_graph" height="100"></canvas>
              </div>
              <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
                <canvas id="blog_count" height="100"></canvas>
              </div>
            </div>
            <div class="row dash">
              <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
                <canvas id="" height="100"></canvas>
              </div>
              <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
              </div>
            </div>
        </div>
      </div>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="https://www.fumiblog.link">
              fumiblog
            </a>
          </small>
        </div>

        <div>
          <a href="https://github.com/fumiblog" target="_blank">
            <img alt="GitHub followers" src="https://img.shields.io/github/followers/fumiblog?label=github&style=social" />
          </a>
          <a href="https://twitter.com/Fumihisa_y" target="_blank">
            <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/Fumihisa_y?label=twitter&style=social" />
          </a>
        </div>
      </footer>

    </div>

  </main>
  <!-- page-content -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(".sidebar-dropdown > a").click(function() {
    $(".sidebar-submenu").slideUp(200);
    if (
      $(this)
        .parent()
        .hasClass("active")
    ) {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .parent()
        .removeClass("active");
    } else {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .next(".sidebar-submenu")
        .slideDown(200);
      $(this)
        .parent()
        .addClass("active");
    }
  });

  $("#close-sidebar").click(function() {
    $(".page-wrapper").removeClass("toggled");
  });
  $("#show-sidebar").click(function() {
    $(".page-wrapper").addClass("toggled");
  });
  </script>
</div>
<!-- page-wrapper -->
