<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="estimate-basic">
        <h4>見積基本データ</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= @estimate.date %></th>
                <th><%= @estimate.in_charge.name %></th>
                <th><%= @estimate.subject %></th>
                <th><%= @estimate.payment_method %></th>
                <th><%= @estimate.delivery_time %></th>
                <th></th>
                <th><%= link_to "訂正", admins_estimate_path(@estimate), class: "btn btn-warning btn-sm" %></th>
              </tr>
            </thead>
          </table>
      </div>
      <div class="detail-make">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th>商品名</th>
              <th>型　式</th>
              <th>単　価</th>
              <th>数　量</th>
              <th>金　額</th>
              <th>備　考</th>
            </tr>
          </thead>
          <tbody>
            <%= form_with model: @detail, url: admins_details_path(@detail), local: true do |f| %>
              <tr>
                <td><%= f.collection_select :genre_id, @genres, :id, :name %></td>
                <td><%= f.text_field :product %></td>
                <td><%= f.text_field :model %></td>
                <td><%= f.text_field :unitprice %></td>
                <td><%= f.number_field :amount, :size =>"5" %></td>
                <td></td>
                <td><%= f.submit "追加", class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
