<h2>Pro Claim</h2>
  <hr>
  <div class="row">
    <div class="form-group col-md-12">
      <%= render "shared/question" %>
      
    </div>
    <div class="form-group col-md-12">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Secret !</h4>
        <%= render "shared/secret" %>
      </div>
    </div>
  </div>
  
  <h5>More templates</h5>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
        <img src="https://user-images.githubusercontent.com/25878302/58369568-a49b2480-7efc-11e9-9ca9-2be44afacda1.png" class="card-img-top rounded-0" alt="Angular pro sidebar">
        <div class="card-body text-center">
          <h6 class="card-title">Angular Pro Sidebar</h6>
          <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
          <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
          <hr>
          <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/angular-pro-sidebar?style=social" />
          </a>
          <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
            <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/angular-pro-sidebar?style=social" />
          </a>

        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
        <img src="https://user-images.githubusercontent.com/25878302/58369258-33f20900-7ef8-11e9-8ff3-b277cb7ed7b4.PNG" class="card-img-top rounded-0" alt="Angular pro sidebar">
        <div class="card-body text-center">
          <h6 class="card-title">Angular Dashboard</h6>
          <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
          <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
          <hr>
          <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/lightning-admin-angular?style=social" />
          </a>
          <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
            <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/lightning-admin-angular?style=social" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>

<div class="container-fruid alert alert-secondary">
  <div class="row">
    <h3 class="m-3">Dashboard</h3>
    <div class="row dash">
      <div class="col-sm alert alert-primary text-primary m-3 p-3 overflow-auto" style= "height:180px;">
        <h3>Welcome Back, fumihisa!</h3>
        <div>
          Lv.88 Exp.1024
          <%= image_tag 'engineer.png', class: "float-right", :size => '150x110' %>
        </div>
      </div>
      <div class="col-sm bg-light text-secondary m-3 p-3 small overflow-auto" style= "height:180px;">
        <h5>
          消費税。現在は
          <% if Date.today >= Tax.all.order(change_date: "DESC").first.change_date %>
            <a class="text-success"><%= Tax.all.order(change_date: "DESC").first.tax %></a>%です。
          <% else %>
            <a class="text-success">
              <%= Tax.all.order(change_date: "DESC").second.tax %>%
            </a>です。
            <%= Tax.all.order(change_date: "DESC").first.change_date %>に<%= Tax.all.order(change_date: "DESC").first.tax %>%になります。
          <% end %>
        </h5>
        <p class="tax_input">
          <%= form_with model: @tax, url:admins_admins_path(@tax), local: true do |f| %>
            日付：<%= f.date_field :change_date %>　消費税：<%= f.text_field :tax, :size => "3" %>%
            <%= f.submit "予約" %>
          <% end %>
        </p>
        <div class="tax_history small">
          消費税履歴
          <% @taxes.each do |tax| %>
            <%= tax.change_date %>（<%= tax.tax %>%）<%= link_to "del", admins_admin_path(tax), method: :delete %>、
          <% end %>
        </div>
      </div>
      <div class="row dash">
        <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
          <canvas id="genre_graph" height="100"></canvas>
        </div>
        <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
          <canvas id="blog_count" height="100"></canvas>
        </div>
      </div>
      <div class="row dash">
        <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
          <canvas id="" height="100"></canvas>
        </div>
        <div class="col-sm bg-light text-secondary m-3 p-3" style= "height:180px;">
        </div>
      </div>
  </div>
</div>
